<h3>Transfer Bitbars</h3>

<p>Successfully transferred <%= result.amount %> bitbars to <%= result.receiver.username %>.

<p>You now have <%= account.bitbars %> bitbars.</p>

<p><%= result.receiver.username %> now has <%= result.receiver.bitbars + result.amount %> bitbars.</p>
